@font-face {
	font-family: "Arial Rounded MT Bold";
	src: url("../fonts/8665.ttf") format("ttf");
}
@font-face {
	font-family: "new_channel_font_black";
	src: url("../fonts/18301.ttf");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
}
a, li {
	text-decoration: none;
	list-style: none;
}
button, input, a {
	cursor: pointer;
	outline: none;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
}
.container {
	max-width: 1440px;
	height: 100%;
	padding: 0 25px;
	margin: 0 auto;
}
.header {
	position: fixed;
	width: 100%;
	background-color: #11201f;
	z-index: 2;
}
.header__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	position: relative;
}
.header__item:nth-child(2) {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 150px;
}
.header__logo a{
	font-family: "Arial Rounded MT Bold", sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #1e90ff;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
	position: absolute;
	margin: 1px auto;
	top: -5px;
	transition: .3s;
}
.header__logo:hover a {
	color: #fff;
}
.header__logo a span {
	font-family: "new_channel_font_black", sans-serif;
	color: #1e90ff;
}
.header__contacts {
	display: flex;
	justify-content: space-between;
}
.header__contacts li {
	margin: 0px 25px;
}
.header__contacts li:last-child {
	margin-right: 0;
}
.header__contacts li a{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.8);
}
.header__contacts li:hover a{
	color: #1e90ff;
}
.header__socials {
	display: flex;
	margin-top: 3px;
	justify-content: center;
}
.header__socials a {
	margin: 5px;
}
.header__socials img {
	width: 33px;
	height: 33px;
	filter: hue-rotate(200);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
	border-radius: 50%;
}
.header__socials a:hover img {
	transform: scale(1.05);
}
.progress {
	position: fixed;
	height: 5px;
	left: 0;
	top: 40px;
	width: 0%;
	background-color: #1e90ff;
	z-index: 2;
}
.main{
	width: 100%;
	display: flex;
}
.main__content {
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 50px;
}
.main img {
	width: 50%;
	height: 50%;
}
.main__title {
	font-family: 'Lato', sans-serif;
	font-size: calc(100vw / 18);
	text-shadow: -3px 6px 9px rgba(0, 0, 0, 0.2);
}
.main__text {
	font-size: calc(100vw / 48);
	margin: 10px 0 60px;
}
.main__btn {
	display: flex;
	justify-content: center;
	min-width: 250px;
	background-color: #1e90ff;
	padding: 15px 30px;
	font-size: 25px;
	color: #fff;
	border-radius: 7px;
}
.main__btn:hover {
	background-color: #1e9fff;
}
.direction {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #F3F6FD;
	text-align: center;
}
.direction .heading {
	margin: 15px 0;
}
.direction__content {
	display: flex;
	text-align: left;
}
.direction img {
	width: 50%;
	height: 50%;
}
.direction__box {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 30px 30px 30px;
	margin: 50px 0 100px 50px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
	background-color: #fff;
}
.title{
	font-size: 20px;
	font-weight: 600;
	color: #38D487;
	margin-top: 30px;
}
.heading{
	color: #1e90ff;
	/* font-family: 'Lato', sans-serif; */
	font-family: 'Playfair Display', sans-serif;
	font-size: 35px;
	font-weight: 800;
	margin: 30px 0 20px 0;
}
.text{
	font-size: 18px;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
}
.direction .heading {
	font-size: 'Lato', sans-serif;
}
.direction__holder {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.direction__holder h4 {
	margin-top: 5px;
	margin-bottom: -10px;
}
.percent__progress {
	width: 200%;
	height: 10px;
	background-color: rosybrown;
	margin: 10px;
	border-radius: 50px;
	margin-left: 0px;
}
progress::-webkit-progress-bar {
	background-color: #FAECF2;
	border-radius: 10px;
}
progress::-webkit-progress-value {
	background: linear-gradient(to right,#1e90ff 20%, #38D487);
	border-radius: 10px;
}
.about {
	text-align: center;
}
.about__box {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 50px 0;
}
.about__item {
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px;
}
.about__icon {
	min-width: 90px;
	min-height: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
	transition: .3s;
}
.about__item:hover .about__icon{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
	background-color: #1e90ff;
}
.about__item img {
	width: 50px;
	height: 50px;
	transition: .3s;
}
.about__item:hover .about__icon img{
	filter: invert(2);
	width: 55px;
	height: 55px;
}

.about__item-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 120px;
	padding: 10px 0 0 10px;
}
.about__item-content h4{
	
}
.projects {
	/* background-color: salmon; */
	text-align: center;
	padding-top: 30px;
}
.projects .heading {
	margin-top: 0px;
}
.projects__slide {
	padding: 30px 50px 100px;
	justify-content: center;
}
.projects__item {
	overflow: hidden;
	/* position: relative; */
}
.projects__item a {
}
.projects__image {
}
.projects__desc {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 300px;
	transition: .5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.projects__desc h4 {
	margin-bottom: 50px;
	color: rgba(0, 0, 0, 1);
}
.projects__desc p {
	color: rgba(0, 0, 0, 1);
}
.projects__item:hover .projects__desc {
	top: 0;
}
.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 40px;
}
.process {
	text-align: center;
	background-color: #FBFDFF;
}
.process__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}
.process__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.process img{
	width: 50%;
	height: 50%;
}
.process__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	text-align: left;
	margin-top: 35px;
}
.process__item:nth-child(3) {
	margin-bottom: 80px;
}
.process__icon {
	min-width: 90px;
	min-height: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
	transition: .3s;
}
.process__item:hover .process__icon {
	background-color: #1e90ff;
}
.process__icon img {
	width: 50px;
	height: 50px;
	transition: .3s;
}
.process__item:hover img {
	filter: invert(2);
	width: 53px;
	height: 53px;
}
.process__item-content {
	margin-left: 25px;
}
.content h4 {
	font-size: 22px;
	margin-bottom: 10px;
}
.feedback {
	width: 100%;
	position: relative;
	padding-top: 50px;
}
.feedback__content {
	display: flex;
}
.feedback__content img {
	width: 50%;
	height: 50%;
	transform: scale(-1, 1);
}
.feedback__box {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 50px;
	background-image: url(../images/analiz.png);
}
.feedback__title {
	font-size: 52px;
	margin-bottom: 20px;
	color: #000;
}
.feedback input {
	width: 100%;
	height: 40px;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	padding: 0 15px;
	font-size: 15px;
	color: #1e90ff;
	background-color: rgba(30, 144, 255, 0.15);
}
.btn {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 8px;
	background-color: #1e90ff;
	font-size: 16px;
	margin: 20px 0;
	color: #fff;
}
.footer {
	background-color: #11201f;
}
.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}
.footer__content h4 {
	color: #fff;
}

@media (max-width: 1024px) {
	.direction {
		justify-content: space-between;
	}
	.direction__box {
		width: 50%;
		margin: 30px 0 50px 0px;
	}
	.title {
		margin-top: 25px;
	}
	.heading {
		margin: 20px 0 15px 0;
	}
	.text {
		margin-bottom: 10px;
	}
	.projects__slide {
    padding: 30px 0 70px;
	}
	.process__items {
		margin-bottom: 0;
	}
	.process__item {
		width: 90%;
	}
	.feedback__title {
    font-size: 42px;
    margin-bottom: 20px;
    color: #000;
	}
	.feedback__content img {
    position: relative;
    top: 40px;
	}
}
@media (max-width: 768px) {
	.header__contacts li:first-child {
		display: none;
	}
	.main__btn {
		min-width: 200px;
		font-size: 20px;
	}
	.title{
		font-size: 18px;
	}
	.heading {
		font-size: 30px;
		margin: 10px 0;
		line-height: 1;
	}
	.text {
		font-size: 16px;
	}
	.direction__holder {
		margin-top: 0;
	}
	.percent__progress {
		width: 160%;
		margin-bottom: 0;
	}
	.about__box {
		padding-top: 0;
	}
	.about__item {
		width: 40%;
		margin: 5px;
		height: 120px;
	}
	.about__icon {
		min-width: 75px;
    min-height: 75px;
	}
	.about__item img {
		width: 45px;
		height: 45px;
	}
	.about__item:hover img {
		width: 50px;
		height: 50px;
	}
	.about__item-content {
		height: 100%;
	}
	.projects__slide {
    padding: 25px 0 50px;
	}
	.process__item {
		width: 95%;
		margin-top: 20px;
	}
	.process__item:nth-child(3) {
    margin-bottom: 60px;
	}
	.process__item-content {
    margin-left: 20px;
	}
	.content h4 {
    font-size: 18px;
    margin-bottom: 5px;
	}
	.content p {
		font-size: 14px;
	}
	.feedback {
		padding-top: 0;
	}
	.feedback__box {
		padding: 50px 0 50px 25px;
	}
	.feedback__title {
		font-size: 36px;
	}
	.feedback input {
		margin: 5px 0;
		border-radius: 5px;

	}
	.feedback .btn {
		border-radius: 5px;
		margin: 15px 0 0 0;
	}
}
@media (max-width: 425px) {
	.header__item:nth-child(2) {
		left: auto;
		width: auto;
	}
	.header__contacts {
		display: none;
	}
	.header__socials li:last-child a{
		margin-right: 0;
	}
	.main {
		height: 100vh;
		background-image: url(../images/mobile.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
	}
	.main__content {
		margin: 0;
		align-items: center;
		justify-content: space-between;
	}
	.main__title {
		font-size: calc(100vw / 10);
		margin-top: 60px;
	}
	.main__text {
		margin-bottom: auto;
    font-size: calc(100vw / 25);
	}
	.main__btn {
		margin-bottom: 50px;
	}
	.main img {
		display: none;
	}
	.direction__box {
		width: 100%;
		margin: 0;
		padding: 0;
		box-shadow: none;
		background: none;
	}
	.title {
		margin-top: 50px;
    font-size: 22px;
	}
	.heading {
		font-size: 32px;
	}
	.text {
		font-size: 18px;
	}
	.direction__holder {
		margin-bottom: 50px;
	}
	.percent__progress {
		width: 150%;
		margin: 10px 0;
	}
	.direction img {
		display: none;
	}
	.about__box {
		flex-direction: column;
	}
	.about__item {
		width: 100%;
		height: 90px;
	}
	.about__item-content {
		padding-left: 5px;
	}
	/* .projects {
		height: 100vh;
	} */
	.process__items {
		flex-direction: column;
	}
	.process__items img {
		width: 100%;
	}
	.process__box {
		width: 100%;
	}
	.process__item {
		width: 90%;
		flex-direction: column;
		text-align: center;
	}
	.process__icon {
		width: 90px;
	}
	.process__item-content {
		margin: 0;
	}
	.feedback__content {
		flex-direction: column-reverse;
	}
	.feedback__box {
		width: 100%;
		padding: 50px 0;
	}
	.feedback__title {
		font-size: 20px;
	}
	.feedback__content img {
		width: 100%;
		transform: scale(1,1);
	}
	.footer__content {
		flex-direction: column;
	}
}